.intro__list {
    max-width: 690px;
    margin: 33px 0 0;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .intro__list {
        max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        max-width: 288px;
        margin-top: 34px;
    }
}