.cover__subtitle {
    max-width: 360px;
    margin: 32px auto 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.cover__subtitle:hover~.cover__overlay {
    opacity: 0.8;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .cover__subtitle {
        max-width: calc(288px + (360 - 288) * (100vw - 320px) / (768 - 320));
        margin-top: calc(16px + (32 - 16) * (100vw - 320px) / (768 - 320));
        font-size: calc(14px + (18 - 14) * (100vw - 320px) / (768 - 320));
        line-height: calc(16px + (22 - 16) * (100vw - 320px) / (768 - 320));
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
}