.header {
    max-width: 1184px;
    padding-top: 28px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
    .header {
        max-width: calc(928px + (1184 - 928) * (100vw - 1024px) / (1280 - 1024));
    }
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .header {
        max-width: calc(720px + (928 - 720) * (100vw - 768px) / (1024 - 768));
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .header {
        max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        padding-top: 16px;
    }
}