.footer__copyright {
    width: 186px;
    height: 16px;
    margin: 2px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width: 700px) {
    .footer__copyright {
        margin-top: 0;
        line-height: 14px;
        text-align: left;
    }
}