.two-columns__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@media screen and (min-width: 500px) and (max-width: 767px) {
    .two-columns__info {
        width: 50%;
    }
}
