.lead__subtitle {
    max-width: 640px;
    margin: 32px auto 0;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .lead__subtitle {
        max-width: calc(288px + (640 - 288) * (100vw - 320px) / (768 - 320));
        margin-top: calc(16px + (32 - 16) * (100vw - 320px) / (768 - 320));
        font-size: calc(16px + (30 - 16) * (100vw - 320px) / (768 - 320));
        line-height: calc(20px + (36 - 20) * (100vw - 320px) / (768 - 320));
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        margin: 16px auto 0;
        font-size: 16px;
        line-height: 20px;
    }
}