.place__link {
    width: 456px;
    height: 22px;
    margin: 12px auto 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .place__link {
        width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__link {
        width: 288px;
    }
}