.lead__caption {
    max-width: 158px;
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .lead__caption {
        margin-left: calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }
}