.cover__title {
    max-width: 560px;
    margin: 0 auto 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .cover__title {
        max-width: calc(250px + (560 - 250) * (100vw - 320px) / (768 - 320));
        font-size: calc(32px + (72 - 32) * (100vw - 320px) / (768 - 320));
        line-height: calc(35px + (76 - 35) * (100vw - 320px) / (768 - 320));
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
    }
}