.cover__title {
    width: 560px;
    height: 152px;
    margin: 245px auto 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    z-index: 3;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        margin: 195px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin: 115px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        height: 70px;
        margin: 33px auto 0;
        font-size: 32px;
        line-height: 35px;
    }
}