.place {
    display: flex;
    margin-top: 80px;
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .place {
        column-gap: calc(28px + (32 - 28) * (100vw - 768px) / (1024 - 768));
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-top: 73px;
        column-gap: 28px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .place__paragraph:first-of-type {
        margin-top: calc(50px + (73 - 50) * (100vw - 320px) / (768 - 320));
    }
}

@media screen and (max-width: 499px) {
    .place {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .place {
        margin-top: 50px;
        column-gap: 0;
    }
}