.place {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .place {
        margin-top: 73px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .place__paragraph:first-of-type {
        margin-top: calc(50px + (73 - 50) * (100vw - 320px) / (768 - 320));
    }
}

@media screen and (max-width: 320px) {
    .place {
        margin-top: 50px;
    }
}