.footer {
    max-width: 1184px;
    margin: 92px auto 0;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
    .footer {
        max-width: calc(928px + (1184 - 928) * (100vw - 1024px) / (1280 - 1024));
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .footer {
        max-width: calc(720px + (928 - 720) * (100vw - 768px) / (1024 - 768));
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        max-width: 186;
        margin-top: 64px;
        flex-direction: column;
        row-gap: 48px;
        margin-left: 16px;
    }
}
